.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: lightgrey;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-body > div {
  float: left;
  width: 32%;
  padding: 5px;
}

.colHeaders {
  display: flex;
  padding-left: 10px;
}

.colHeaders > img {
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-top: 15px;
  cursor: pointer;
}

.groupPersonItem {
  float: left;
  width: 85%;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  padding: 3px;
}

.groupPersonItem > div {
  padding-left: 20px;
  font-size: 20px;
  user-select: none;
}

.groupPersonItem > img {
  width: 50px;
}

.groupPersonItem:hover {
  border: 1px solid black;
}

.groupPersonActions {
  float: left;
  vertical-align: middle;
  padding-top: 10px;
}

.groupPersonActions > img {
  width: 15px;
  cursor: pointer;
}

/* Clear floats after the columns */
.groupPerson:after {
  content: "";
  display: table;
  clear: both;
}

.add-btn {
  float: left;
  margin-top: 40px;
  padding-left: 10px;
}

.person {
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  padding: 3px;
}

.person > img {
  width: 50px;
}

.person > div {
  padding-left: 10px;
  font-size: 20px;
  user-select: none;
}

.person > div > span {
  padding-left: 5px;
  font-size: 12px;
  user-select: none;
}

.actions-btn > div {
  margin: 5px;
  width: 100%;
}

.actions-btn > div > input {
  width: 80%;
}