.app-header-title {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.app-logo  {
  height: 80px;
}

.app-header-body {
  margin-top: 10px;
}

.col-header {
  color: black;
}

fieldset {
  border: 1px solid black;
}

legend {
  background-color: #222;
  color: #fff;
  padding: 3px 6px;
  width: 180px;
  margin-left: 10px;
}

.add-button {
  cursor: pointer;
}

.action-but {
  margin-top: 5px;
  margin-bottom: 5px;
}

.group-list {
  background-color: whitesmoke;
  margin-bottom: 2px;
}

.group-list img {
  float: left;
  cursor: pointer;
}

.group-list H5 {
  padding-left: 7px;
  float: left;
  padding-top: 9px;
  cursor: pointer;
}

.group-actions-button img{
  margin-top: 1px;
  cursor: pointer;
}

.person-list {
  background-color: whitesmoke;
  margin-bottom: 2px;
  vertical-align: middle;
}

.person-list img {
  float: left;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 5px;
}

.person-list H5 {
  padding-left: 7px;
  padding-top: 9px;
  cursor: pointer;
}

.person-actions-button img{
  margin-top: 1px;
  cursor: pointer;
}